.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    transition: color .3s ease;

    &:focus{
        outline: none;
    }

    &:hover{
        color: darken($color: white, $amount: 10);
    }

    
}

.btn-primary{
    // background-color: $primary;
    background: linear-gradient(90deg, $secondary 0%, $primary 100%);
    border-radius: 5px;
    height: 40px;
    font-size: 15px;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover{
        background-color: darken($color: $primary, $amount: 15);   
    }
}


.btn-block{
    width: 100%;
}

.btn-m{
    margin-top: 20px;
    width: 200px;
}

.btn-danger{
    background-color: brown;
}

.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    border: 2px solid $secondary;
    // background-color: $google-blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;


    
    .google-icon {
        // position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        margin-right: 10px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        // float: center;
        margin: 11px 40px 0 0;
        color: $secondary;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-weight: 400;
    }
    &:hover {
        box-shadow: 0 0 3px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

